Repository ajndkr/lanarky, pull requests merged in 2023-04, with the labels that each got.

#1 feat: update repository to make codebase pip-installable
  .github/workflows/code-check.yaml
  .github/workflows/publish.yaml
  .gitignore
  CONTRIBUTING.md
  LICENSE
  README.md
  api/chain.py
  api/main.py
  api/response.py
  demo/README.md
  demo/app.py
  demo/requirements.txt
  fastapi_async_langchain/__init__.py
  fastapi_async_langchain/callback.py
  fastapi_async_langchain/response.py
  pyproject.toml
  requirements.txt
Labels: enhancement

#4 fix(response): prevent app from crashing on second message
  fastapi_async_langchain/response.py
Labels: fix

#5 feat: add support to run background task with chain output
  demo/app.py
  fastapi_async_langchain/response.py
Labels: feature

#6 feat: add support for `RetrievalQA` chains
  demo/app.py
  fastapi_async_langchain/responses/__init__.py
  fastapi_async_langchain/responses/base.py
  fastapi_async_langchain/responses/llm.py
  fastapi_async_langchain/responses/retrieval_qa.py
Labels: feature, breaking

#10 Source documents
  demo/README.md
  demo/app.py
  demo/langchain-python.pkl
  demo/requirements.txt
  fastapi_async_langchain/callback.py
  fastapi_async_langchain/callbacks/__init__.py
  fastapi_async_langchain/callbacks/base.py
  fastapi_async_langchain/callbacks/retrieval_qa.py
  fastapi_async_langchain/responses/llm.py
  fastapi_async_langchain/responses/retrieval_qa.py
  pyproject.toml
Labels: feature
