Repository ajndkr/lanarky, pull requests merged in 2023-06, with the labels that each got.

#79 feat: improve connection handling (2/)
  lanarky/responses/streaming.py
Labels: feature

#81 fix: update request and response model loader functions for `LangchainRouter`
  README.md
  docs/features.rst
  docs/requirements.txt
  examples/README.md
  examples/app/conversational_retrieval.py
  lanarky/__init__.py
  lanarky/callbacks/agents.py
  lanarky/callbacks/base.py
  lanarky/callbacks/retrieval_qa.py
  lanarky/responses/streaming.py
  lanarky/routing/langchain.py
  lanarky/routing/utils.py
  lanarky/schemas/__init__.py
  lanarky/schemas/callbacks.py
  lanarky/schemas/websockets.py
  lanarky/websockets/base.py
  pyproject.toml
  tests/routing/test_langchain_router.py
  tests/websockets/test_websocket_connection.py
Labels: documentation, fix, dependencies, unit-tests

#89 feat: Add option to accept or not accept WebSocket connection
  lanarky/websockets/base.py
  tests/conftest.py
  tests/websockets/test_websocket_connection.py
Labels: feature

#94 feat: allow users to pass custom callback handler
  lanarky/responses/streaming.py
  lanarky/websockets/base.py
  pyproject.toml
Labels: feature, dependencies
