Repository ajndkr/lanarky, pull requests merged in 2023-05, with the labels that each got.

#14 fix(response): add callback handler to RetrievalQA chain callback manager
  examples/conversation_chain/app.py
  examples/retrieval_qa_w_sources/app.py
  fastapi_async_langchain/callbacks/streaming/base.py
  fastapi_async_langchain/callbacks/streaming/retrieval_qa.py
  fastapi_async_langchain/responses/__init__.py
  fastapi_async_langchain/responses/base.py
  fastapi_async_langchain/responses/llm.py
  fastapi_async_langchain/responses/retrieval_qa.py
  fastapi_async_langchain/responses/streaming/__init__.py
  fastapi_async_langchain/testing/__init__.py
  fastapi_async_langchain/testing/gradio.py
Labels: feature, fix

#15 feat: add websocket support
  README.md
  examples/conversation_chain/README.md
  examples/conversation_chain/app.py
  examples/conversation_chain/requirements.txt
  examples/conversation_chain/templates/index.html
  examples/retrieval_qa_w_sources/README.md
  examples/retrieval_qa_w_sources/app.py
  examples/retrieval_qa_w_sources/requirements.txt
  examples/retrieval_qa_w_sources/templates/index.html
  fastapi_async_langchain/callbacks/__init__.py
  fastapi_async_langchain/callbacks/websocket/__init__.py
  fastapi_async_langchain/callbacks/websocket/base.py
  fastapi_async_langchain/callbacks/websocket/retrieval_qa.py
  fastapi_async_langchain/responses/base.py
  fastapi_async_langchain/schemas.py
  fastapi_async_langchain/testing/gradio.py
  fastapi_async_langchain/testing/settings.py
  fastapi_async_langchain/websockets/__init__.py
  fastapi_async_langchain/websockets/base.py
  fastapi_async_langchain/websockets/llm.py
  fastapi_async_langchain/websockets/retrieval_qa.py
Labels: feature

#20 cicd: add new github templates and workflows
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/workflows/pull-request-automation.yaml
Labels: ci/cd

#19 deps(up): `langchain` 0.0.146 → 0.0.157
  examples/conversation_chain/app.py
  examples/retrieval_qa_w_sources/app.py
  fastapi_async_langchain/callbacks/streaming/retrieval_qa.py
  fastapi_async_langchain/callbacks/websocket/retrieval_qa.py
  fastapi_async_langchain/responses/llm.py
  fastapi_async_langchain/responses/retrieval_qa.py
  fastapi_async_langchain/websockets/llm.py
  fastapi_async_langchain/websockets/retrieval_qa.py
  pyproject.toml
Labels: dependencies

#23 fix(response): pass multiple inputs to `LLMChainStreamingResponse`
  fastapi_async_langchain/responses/llm.py
  fastapi_async_langchain/websockets/llm.py
Labels: fix

#28 fix(response): pass `BaseLangchainStreamingResponse` exception output to background task as `"outputs"`
  fastapi_async_langchain/responses/base.py
Labels: fix

#32 feat: auto-detect callback handler to improve response class usage
  README.md
  examples/app/conversation_chain.py
  examples/app/conversational_retrieval.py
  examples/app/retrieval_qa_w_sources.py
  examples/requirements.txt
  fastapi_async_langchain/callbacks/__init__.py
  fastapi_async_langchain/callbacks/base.py
  fastapi_async_langchain/callbacks/llm.py
  fastapi_async_langchain/callbacks/qa_with_sources.py
  fastapi_async_langchain/callbacks/retrieval_qa.py
  fastapi_async_langchain/register.py
  fastapi_async_langchain/responses/__init__.py
  fastapi_async_langchain/responses/conversational_retrieval.py
  fastapi_async_langchain/responses/llm.py
  fastapi_async_langchain/responses/retrieval_qa.py
  fastapi_async_langchain/responses/streaming.py
  fastapi_async_langchain/websockets/__init__.py
  fastapi_async_langchain/websockets/base.py
  fastapi_async_langchain/websockets/llm.py
  fastapi_async_langchain/websockets/retrieval_qa.py
Labels: documentation, feature, breaking, dependencies

#33 chore: update project metadat
  README.md
  pyproject.toml
Labels: documentation, ci/cd

#38 fix: bump langchain version and update dependency filter
  pyproject.toml
Labels: fix, dependencies

#39 Fix Gradio Streaming problems
  CONTRIBUTING.md
  fastapi_async_langchain/testing/gradio.py
  pyproject.toml
Labels: fix, dependencies

#42 chore: add deprecation warning
  .github/workflows/code-check.yaml
  README.md
  fastapi_async_langchain/__init__.py
Labels: documentation, breaking

#47 fix: minor improvements and bugfixes
  examples/README.md
  lanarky/callbacks/__init__.py
  pyproject.toml
Labels: documentation, fix, dependencies

#48 feat: add sphinx documentation
  docs/Makefile
  docs/_static/logo_150px.png
  docs/advanced/custom_callbacks.rst
  docs/conf.py
  docs/features.rst
  docs/getting_started.rst
  docs/index.rst
  docs/lanarky/lanarky.callbacks.rst
  docs/lanarky/lanarky.register.rst
  docs/lanarky/lanarky.responses.rst
  docs/lanarky/lanarky.rst
  docs/lanarky/lanarky.schemas.rst
  docs/lanarky/lanarky.testing.rst
  docs/lanarky/lanarky.websockets.rst
  lanarky/responses/streaming.py
  pyproject.toml
Labels: documentation, feature, dependencies

#52 feat: Add unit tests
  .github/workflows/ci.yaml
  .github/workflows/code-check.yaml
  .github/workflows/publish.yaml
  Makefile
  README.md
  docs/index.rst
  lanarky/callbacks/base.py
  lanarky/callbacks/llm.py
  lanarky/callbacks/retrieval_qa.py
  lanarky/register.py
  lanarky/responses/streaming.py
  lanarky/websockets/base.py
  pyproject.toml
  tests/callbacks/test_base.py
  tests/callbacks/test_init.py
  tests/callbacks/test_llm.py
  tests/callbacks/test_retrieval_qa.py
  tests/conftest.py
  tests/responses/test_streaming.py
  tests/test_register.py
  tests/test_schemas.py
Labels: documentation, dependencies, unit-tests

#54 feat: Add callback handlers for Langchain agents
  .vscode/launch.json
  docs/features.rst
  examples/README.md
  examples/app/zero_shot_agent.py
  examples/requirements.in
  examples/requirements.txt
  lanarky/callbacks/__init__.py
  lanarky/callbacks/agents.py
  lanarky/responses/streaming.py
  lanarky/websockets/base.py
  tests/callbacks/test_agents.py
Labels: documentation, feature, unit-tests

#57 fix: library documentation for registering callback handler is incorrect
  Makefile
  docs/advanced/custom_callbacks.rst
  docs/conf.py
  lanarky/callbacks/__init__.py
  lanarky/register.py
  pyproject.toml
Labels: documentation, fix

#60 feat: add streaming JSON response
  CONTRIBUTING.md
  docs/advanced/custom_callbacks.rst
  docs/features.rst
  docs/lanarky/lanarky.callbacks.rst
  examples/app/conversation_chain.py
  examples/app/conversational_retrieval.py
  examples/app/retrieval_qa_w_sources.py
  examples/app/zero_shot_agent.py
  lanarky/callbacks/__init__.py
  lanarky/callbacks/agents.py
  lanarky/callbacks/base.py
  lanarky/callbacks/llm.py
  lanarky/callbacks/qa_with_sources.py
  lanarky/callbacks/retrieval_qa.py
  lanarky/register.py
  lanarky/responses/streaming.py
  lanarky/schemas.py
  pyproject.toml
  tests/callbacks/test_base.py
  tests/callbacks/test_init.py
  tests/callbacks/test_llm.py
  tests/callbacks/test_retrieval_qa.py
  tests/conftest.py
  tests/responses/test_streaming.py
Labels: documentation, feature, unit-tests

#64 fix: websocket callback handler fails due to bad message construction
  Makefile
  docs/basic/features.rst
  docs/basic/getting_started.rst
  docs/index.rst
  lanarky/callbacks/__init__.py
  lanarky/callbacks/base.py
Labels: documentation, feature, fix

#66 feat: add `LangchainRouter`
  Makefile
  README.md
  docs/basic/getting_started.rst
  docs/features.rst
  docs/getting_started.rst
  docs/index.rst
  docs/langchain/custom_callbacks.rst
  docs/langchain/deploy.rst
  docs/langchain/index.rst
  lanarky/routing/__init__.py
  lanarky/routing/langchain.py
  lanarky/routing/utils.py
  pyproject.toml
  tests/routing/test_langchain_router.py
Labels: documentation, feature, dependencies

#69 feat: add new methods to `LangchainRouter`
  README.md
  docs/getting_started.rst
  docs/langchain/deploy.rst
  lanarky/routing/langchain.py
  lanarky/routing/utils.py
  tests/routing/test_langchain_router.py
Labels: feature, unit-tests

#70 fix: add `name_prefix` for creating dynamic request and response models
  README.md
  docs/getting_started.rst
  docs/langchain/deploy.rst
  examples/README.md
  examples/app/conversation_chain.py
  examples/app/retrieval_qa_w_sources.py
  examples/app/zero_shot_agent.py
  examples/requirements.txt
  lanarky/routing/langchain.py
  lanarky/routing/utils.py
  tests/routing/test_langchain_router.py
Labels: documentation, fix

#75 feat: Allow overriding registered callbacks
  README.md
  docs/getting_started.rst
  docs/lanarky/lanarky.callbacks.rst
  docs/lanarky/lanarky.register.rst
  docs/lanarky/lanarky.responses.rst
  docs/lanarky/lanarky.routing.rst
  docs/lanarky/lanarky.rst
  docs/lanarky/lanarky.schemas.rst
  docs/lanarky/lanarky.testing.rst
  docs/lanarky/lanarky.websockets.rst
  docs/langchain/cache.rst
  docs/langchain/deploy.rst
  examples/app/conversation_chain.py
  examples/app/retrieval_qa_w_sources.py
  examples/app/zero_shot_agent.py
  examples/requirements.txt
  lanarky/__init__.py
  lanarky/register/base.py
  lanarky/register/callbacks.py
  tests/test_register.py
Labels: documentation, feature, unit-tests

#78 feat: improve connection handling
  lanarky/responses/streaming.py
  lanarky/routing/utils.py
  pyproject.toml
Labels: feature, dependencies
